@charset "UTF-8";

.container {
	display: flex;
	flex-direction: column;
	margin: auto;
	justify-content: center;
	align-items: center;
}
.delete {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  color: #3366CC;
  text-decoration: underline;
  cursor: pointer;
}